github_save-PeiVRJlQxsCFbSky.json
{"createdAt":"2025-09-09T14:41:12.203Z","updatedAt":"2025-09-09T14:42:58.000Z","id":"PeiVRJlQxsCFbSky","name":"Github_Save","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"270b65e5-0abc-41aa-828e-d7e433642e0d","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[368,-64],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":731.7039821513649,"width":1910.7813046051347,"color":6},"id":"a14aefc1-0608-4b40-bb4b-5f7c7f5e5bc3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-112,320],"typeVersion":1},{"parameters":{},"id":"93a7a633-ff03-4443-8f69-6d3068112ea3","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-48,704],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"d9e19eef-cd28-4fc2-948f-09cda1f1ba7d","name":"n8n","type":"n8n-nodes-base.n8n","position":[768,48],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"0d272769-d5cf-4dec-b183-0ac682ea52b8","name":"Return","type":"n8n-nodes-base.set","position":[1616,528],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"f01eec28-f1d6-4ead-aedf-7ef82791772f","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[576,400],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"9e9edea8-1a0b-4793-b784-417f0e8ca6fd","name":"If file too large","type":"n8n-nodes-base.if","position":[336,416],"typeVersion":2},{"parameters":{},"id":"f66f59ee-0e15-4730-83f4-4bfbf9216b2d","name":"Merge Items","type":"n8n-nodes-base.merge","position":[336,688],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"212df282-8f58-4fa9-b840-dbdbb0928fb6","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[528,688],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"2503c83e-b7a3-4ba9-95e9-f10706da544c","name":"Check Status","type":"n8n-nodes-base.switch","position":[928,688],"typeVersion":1},{"parameters":{},"id":"a8e4ff81-0a22-4fba-a5d6-63a37dbd8314","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1152,528],"typeVersion":1},{"parameters":{},"id":"d5435589-4b1b-4693-8ec5-e3abe8bbd456","name":"File is different","type":"n8n-nodes-base.noOp","position":[1152,688],"typeVersion":1},{"parameters":{},"id":"d1a1e0fc-edcc-4fcf-83f4-893f980dad8b","name":"File is new","type":"n8n-nodes-base.noOp","position":[1152,880],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"3b2943db-6862-454e-b51c-7f70d36bcd2f","name":"Create new file","type":"n8n-nodes-base.github","position":[1376,880],"typeVersion":1,"webhookId":"c2632857-7b76-4aaa-9875-9a8afcff3fbc"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"f277f640-378a-4479-a2c7-4bdc3907808c","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1376,688],"typeVersion":1,"webhookId":"057a2798-ac2d-4aa3-af7d-b8719cfdda0a"},{"parameters":{"options":{}},"id":"c8b839b8-6e0c-4e34-879b-ca55eda509c8","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[976,48],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":33}]}},"id":"4de5fb87-501b-4904-84e2-58e44a241104","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[368,144],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"}]},"includeOtherFields":true,"options":{}},"id":"13a6e35f-f1dd-4a3e-b3a6-0542673ff7cd","name":"Create sub path","type":"n8n-nodes-base.set","position":[736,688],"typeVersion":3.3},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"432b78af-cfc4-485c-9cac-7d794b5c1bc7","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-112,-144],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416.1856906618075,"width":1272.6408145680155,"color":7},"id":"d152803e-d469-49dd-bd51-33d24691272c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[336,-144],"typeVersion":1},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=:information_source:  Starting Workflow Backup [{{ $execution.id }}]","otherOptions":{"includeLinkToWorkflow":false}},"id":"782a7787-5f59-4029-bba7-52f51589e1a3","name":"Starting Message","type":"n8n-nodes-base.slack","position":[608,48],"webhookId":"c02eb407-5547-4aa0-9ebf-46dab67b63b6","typeVersion":2.2},{"parameters":{"workflowId":"={{ $workflow.id }}","mode":"each","options":{}},"id":"7f262d2a-3133-49c4-b881-05831e783092","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1200,64],"typeVersion":1,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.","otherOptions":{}},"id":"b9fe606a-0480-4274-83f3-52cc7562f34e","name":"Completed Notification","type":"n8n-nodes-base.slack","position":[1200,-128],"webhookId":"a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4","executeOnce":true,"typeVersion":2.2},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}","otherOptions":{"includeLinkToWorkflow":false}},"id":"6a9059fc-a03c-4582-837d-bfa9c8cc1eb5","name":"Failed Flows","type":"n8n-nodes-base.slack","position":[1392,80],"webhookId":"2a092edb-de12-490f-931b-34d70e7d7696","typeVersion":2.2},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"9f98e5d9-e507-41be-ab45-fc47fde2a4b7","name":"Get file data","type":"n8n-nodes-base.github","position":[128,416],"typeVersion":1,"alwaysOutputData":true,"webhookId":"3c260b5d-47ef-48a4-838d-009a57811d2f","continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"={{ $vars.repo_owner }}"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"={{ $vars.repo_name }}"},{"id":"eee305e9-4164-462a-86bd-80f0d58a31ae","name":"repo_path","type":"string","value":"={{ $vars.repo_path }}"}]},"includeOtherFields":true,"options":{}},"id":"09351405-5898-401f-a81e-9604009dac59","name":"Config","type":"n8n-nodes-base.set","position":[128,704],"typeVersion":3.4}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Completed Notification","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Failed Flows","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f8ee7124-2330-48b7-a12e-3f89e48a5cc9","triggerCount":0,"shared":[{"createdAt":"2025-09-09T14:41:12.210Z","updatedAt":"2025-09-09T14:41:12.210Z","role":"workflow:owner","workflowId":"PeiVRJlQxsCFbSky","projectId":"L3ZF8rqJ5RGAkDmn"}],"tags":[]}