my-workflow-2-iI54EOZNiFaVPRWm.json
{"createdAt":"2025-09-10T12:11:12.823Z","updatedAt":"2025-09-10T12:11:12.823Z","id":"iI54EOZNiFaVPRWm","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('get_message').item.json.text }}","options":{"systemMessage":"You are a polite and professional virtual assistant.\n\nYou receive an email.\n\nYour knowledge base is stored in the Pinecone Vector Store, which contains all relevant FAQs and information needed to assist the user accurately.\n\nAlways consult the Pinecone Vector Store before generating your response.\n\nYour final answer must be sent using the \"Gmail\" tool.\n\nWhen using the Gmail tool, make sure to:\n\nFill in the Message field with the response content\n\nFill in the Subject field with a short subject line (you can use \"Reply\" if unsure)"}},"id":"2b3da24e-9724-4d3e-9ba5-53a37e92e875","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[48,64],"typeVersion":1.8},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"c079938b-0b37-41cf-af12-b736d539f491","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-16,240],"typeVersion":1.2},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{'key'}}"},"id":"8acd5234-3f6e-46f5-a983-d373bc59a71a","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[144,240],"typeVersion":1.3},{"parameters":{"operation":"reply","messageId":"={{ $('get_message').item.json.id }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"id":"715d068a-a097-422f-a0c6-c1654cb282a7","name":"Gmail","type":"n8n-nodes-base.gmailTool","position":[288,240],"webhookId":"f8feb0d1-c7dd-4172-8ebd-e125f18f2c4c","typeVersion":2.1},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"},{}]},"filters":{}},"id":"b2fdb247-469a-4bd2-afdd-2131c570744b","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","position":[-1264,272],"typeVersion":1.2},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{}},"id":"c68be5a3-6c28-4f99-8dd2-fa1a5fd1ecb2","name":"get_message","type":"n8n-nodes-base.gmail","position":[-976,272],"webhookId":"364e19bb-56a0-4cfe-8f89-1bedce5345ae","typeVersion":2.1},{"parameters":{"content":"## Gmail input\n\nGmail trigger get the full email\nSpam checker is a Openai node with specific system prompt.\nIf the email is from services (google, microsoft, ecc) it considered as spam.\nIn this case the model try to extract only business emails.\nThe node print only 2 different output: \"spam\" and \"no spam\".\nIf \"spam\", nothing happen, if \"no spam\" the \"if node\" pass the message to the Agentic node","height":460,"width":1220,"color":3},"id":"e06b0389-af6d-4544-af02-b5956812521b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1312,48],"typeVersion":1},{"parameters":{"content":"## AI Agent\n\nAI Agent get the message and respond to the email autonomously in base of contest.\nHere we have a vector store too, where you can add your data, like FAQ, product prices and so on","height":620,"width":540,"color":4},"id":"5ed0fb16-7941-47c0-883e-5d9a0a843e6a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-96,-128],"typeVersion":1},{"parameters":{"content":"## VECTOR STORE\n","height":300,"width":540,"color":6},"id":"09a80098-fc22-4745-8939-5999c6d40cf8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-96,496],"typeVersion":1},{"parameters":{"mode":"retrieve-as-tool","toolName":"FAQ","pineconeIndex":{"__rl":true,"mode":"list","value":"faqmattabott","cachedResultName":"faqmattabott"},"options":{}},"id":"bb62ee7d-b77c-4fd3-8b52-08670c692efb","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[112,560],"typeVersion":1.1},{"parameters":{"options":{}},"id":"9458ccc9-5876-4897-8212-ddd8d1daee31","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[-32,672],"typeVersion":1.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"921d0426-0dbf-49ac-ab67-b5538856deee","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.message.content }}","rightValue":"spam"}]},"options":{}},"id":"64c2a8d8-d207-464e-aa03-677784dde235","name":"If","type":"n8n-nodes-base.if","position":[-384,272],"typeVersion":2.2},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a e-mail assistant. You have to check if the received e-mail are spam or not.\nYou have to check not only normal spam, but everything is not sent from a person, for example, automatic e-mail, google email, and anything out of a possible client.\n\nIf an e-mail is considered spam, as I sayd befor, your output will be \"spam\". If not, say \"no spam\".\n\nDon't respond anything else \"spam\" or \"not spam\".","role":"system"},{"content":"={{ $json.headers.subject }}{{ $json.headers.from }}{{ $json.text }}"}]},"options":{}},"id":"02f11dcb-f3c5-4db3-9584-1949e2f56375","name":"Spam checker","type":"@n8n/n8n-nodes-langchain.openAi","position":[-736,272],"typeVersion":1.8,"credentials":{"openAiApi":{"id":"3ze0BbrELckY5m3J","name":"OpenAi account"}}}],"connections":{"If":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"get_message":{"main":[[{"node":"Spam checker","type":"main","index":0}]]},"Spam checker":{"main":[[{"node":"If","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"get_message","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"33b88479-f271-447d-be9f-6dfd4889cdb5","triggerCount":0,"shared":[{"createdAt":"2025-09-10T12:11:12.831Z","updatedAt":"2025-09-10T12:11:12.831Z","role":"workflow:owner","workflowId":"iI54EOZNiFaVPRWm","projectId":"L3ZF8rqJ5RGAkDmn"}],"tags":[]}