whatsapp-agent-b8o4VdXi9qHMXuex.json
{"createdAt":"2025-09-09T14:29:33.238Z","updatedAt":"2025-09-10T15:48:10.000Z","id":"b8o4VdXi9qHMXuex","name":"Whatsapp Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"send","phoneNumberId":"741083855763594","recipientPhoneNumber":"={{ $('Chat Received').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1232,-16],"id":"f6a3354c-a93d-4916-b273-01ae82e5483f","name":"Send message","webhookId":"c250031f-8a64-4799-9ee4-bd3fb6e97f69","credentials":{"whatsAppApi":{"id":"XTiTNOAyjZPze7EJ","name":"WhatsApp account"}}},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-1024,-496],"id":"55eb765b-5873-4208-b0dc-9011954e9c2e","name":"Chat Received","webhookId":"a1c38857-785b-4b9e-9af4-8b15b8e2eb05","credentials":{"whatsAppTriggerApi":{"id":"P5LRxKISqLOAy3jB","name":"WhatsApp OAuth account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1696,64],"id":"bdb6e851-c9a7-4e48-8c92-3cb3dc91c0b2","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1344,64],"id":"3a81ee59-688b-47e1-8a8b-e2cd8aca4079","name":"Extract from File"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=whatsapp-75-{{ $json.messages[0].from }}"},"id":"b5ecdd71-2893-4e10-ba76-96ec80edc026","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[528,48],"typeVersion":1.2},{"parameters":{"promptType":"=define","text":"={{ $('Chat Received').item.json.messages[0].text.body }}","options":{"systemMessage":"You are an assistant working for a company named Yıldız Polietilen and helping the user navigate the product price list for the year 2025. Your goal is sharing prices of product with customer."}},"id":"6cf620d1-db36-4b28-b26f-4b7f2b626a1e","name":"AI Sales Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[544,-208],"typeVersion":1.6},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[368,48],"id":"2ac8185b-755f-4d11-a527-b3e032332295","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"DQzG23LuKbRuhIAM","name":"DeepSeek account"}}},{"parameters":{"operation":"send","phoneNumberId":"741083855763594","recipientPhoneNumber":"={{ $('Chat Received').item.json.messages[0].from }}","textBody":"=I'm unable to process your message please only use non-spam text messages. Thanks!","additionalFields":{"previewUrl":false}},"id":"edb965c0-a667-4b16-8eb7-8ed60e3bc973","name":"Reply To User1","type":"n8n-nodes-base.whatsApp","position":[128,96],"typeVersion":1,"webhookId":"bdb0708a-a0dc-4dac-972d-1e3d4ce8a130","credentials":{"whatsAppApi":{"id":"XTiTNOAyjZPze7EJ","name":"WhatsApp account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1WDUZNsZcMc-tv_kIMI8PX0LohNfGQbQp","mode":"list","cachedResultName":"YP Fiyat Listesi Makro- 2025 (1).pdf","cachedResultUrl":"https://drive.google.com/file/d/1WDUZNsZcMc-tv_kIMI8PX0LohNfGQbQp/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1504,64],"id":"73bf60ee-37df-4f87-b3b6-cdc76fe15c39","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"s0s5u9keCKi5wGuR","name":"Google Drive account"}}},{"parameters":{"name":"query_product_brochure","description":"Call this tool to query the product price list."},"id":"6a48167d-0abd-4854-9f65-10bcfa13023d","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[656,48],"typeVersion":1},{"parameters":{"model":"gpt-4o-2024-08-06","options":{}},"id":"c0f71375-19dc-40c4-967b-cd6a1b1bf29b","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[976,288],"typeVersion":1,"credentials":{"openAiApi":{"id":"3ze0BbrELckY5m3J","name":"OpenAi account"}}},{"parameters":{"memoryKey":"whatsapp-75"},"id":"b53cdde2-c828-4cce-8274-6d78af62ed76","name":"Product Catalogue","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","position":[624,432],"typeVersion":1},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"29eba11f-f174-434a-be46-3bad0f7a1e9d","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[576,688],"typeVersion":1,"credentials":{"openAiApi":{"id":"3ze0BbrELckY5m3J","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Extract from File').item.json.text }}","options":{}},"id":"24b0b8e7-a37f-4860-b34c-8248fdedbae5","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[-896,320],"typeVersion":1},{"parameters":{"chunkSize":2000,"chunkOverlap":null,"options":{}},"id":"79482506-6bc3-4ccb-b1d6-6ccba1c2f172","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[-720,592],"typeVersion":1},{"parameters":{"mode":"insert","memoryKey":"whatsapp-75","clearStore":true},"id":"834d968a-8748-4c2f-b358-e96dac15431b","name":"Create Product Catalogue","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","position":[-1120,64],"typeVersion":1},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"62080756-63a1-4113-ac3a-0f1c0e5a39c6","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[-1120,256],"typeVersion":1,"credentials":{"openAiApi":{"id":"3ze0BbrELckY5m3J","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a whatsapp message assistant. You have to check if the received whatsapp text messages are spam or not.\nYou have to check not only normal spam, but everything is not sent from a person, for example, automatic text message, and anything out of a possible client.\n\nIf an e-mail is considered spam, as I sayd befor, your output will be \"spam\". If not, say \"no spam\".\n\nDon't respond anything else \"spam\" or \"not spam\".","role":"system"},{"content":"={{ $('Chat Received').item.json.messages[0].text.body }}"}]},"options":{}},"id":"9642979b-874f-40b5-a3d8-401ba9e85143","name":"Spam checker","type":"@n8n/n8n-nodes-langchain.openAi","position":[-304,-496],"typeVersion":1.8,"credentials":{"openAiApi":{"id":"3ze0BbrELckY5m3J","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"921d0426-0dbf-49ac-ab67-b5538856deee","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.message.content }}","rightValue":"spam"},{"id":"e4193e29-ae09-48a0-ab3b-5891571b1899","leftValue":"={{ $('Chat Received').item.json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"12227d1e-76a1-4e12-9f80-ad26d64a1bc1","name":"If1","type":"n8n-nodes-base.if","position":[32,-464],"typeVersion":2.2},{"parameters":{"simplifyOutput":"={{ $json.Message }}","options":{}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-656,-496],"id":"0ccc0ece-689f-4863-b496-bc87467c0512","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=whatsapp-75-{{ $json.messages[0].from }}"},"id":"8af445c7-b7d9-44de-b9e5-e836ce32a839","name":"Window Buffer Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-656,-256],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"1823c7db-4c5f-4347-aa32-59bab45f3d42","name":"Message","value":"={{ $json.messages[0].from }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,-496],"id":"6a3bcb47-68ec-439f-b356-ac17a26fa0bf","name":"Edit Fields","executeOnce":true}],"connections":{"Chat Received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Create Product Catalogue","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Sales Agent","type":"ai_memory","index":0}]]},"AI Sales Agent":{"main":[[{"node":"Send message","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Sales Agent","type":"ai_languageModel","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Sales Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Product Catalogue":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Product Catalogue","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Create Product Catalogue","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Create Product Catalogue","type":"ai_embedding","index":0}]]},"Spam checker":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"AI Sales Agent","type":"main","index":0}],[{"node":"Reply To User1","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"Spam checker","type":"main","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b0b80f7a-f4a4-40e3-a42d-2155b0795569","triggerCount":1,"shared":[{"createdAt":"2025-09-09T14:29:33.246Z","updatedAt":"2025-09-09T14:29:33.246Z","role":"workflow:owner","workflowId":"b8o4VdXi9qHMXuex","projectId":"L3ZF8rqJ5RGAkDmn"}],"tags":[]}